
/* Media queries 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media all and (max-width: 480px) {
  #grid {
    grid-template-rows: auto;
  }

  #hangman-container {
    #words {
      min-height: 70px
    }
  }
  #score {
    position: relative;
    grid-column: 4/9;
    text-align: center;
    width: auto;
    right: 10%;
  }
}

/*  Boilerplate queries
  
  @media all and (max-width: 1024px) { } 

  @media all and (max-width: 1024px) { } 

  @media all and (max-width: 839px) {  }

  @media all and (max-width: 480px) {  }

*/