
/* Base styling
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#loading-bar { 
  position: absolute;
  top: 0;
  left: 0;
  width: 32%;
  background: $fontColor_secondary;
  height: 10px;
  align-content: center;
}

/* Animation
–––––––––––––––––––––––––––––––––––––––––––––––––– */

// start animation
.loading-bar-start {
  animation: loadingBarStart ease-in;
  animation-duration: 0.8s;
}

@keyframes loadingBarStart { 
  0%  { 
    width:0%;
  } 
  20% { 
    width:30%;
  }  
  100% { 
    width:31%;
  }  
}

// end animation
.loading-bar-finish {
  animation: loadingBarFinish ease-in-out;
  animation-duration: 0.4s;
}

@keyframes loadingBarFinish { 
  0%  { 
    width:30%;
  } 
  100% { 
    width:100%;
  }  
}

// color animation
.loading-bar-color-repeater { 
  animation: loadingBarColorRepeater;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  height: 10px;
}

@keyframes loadingBarColorRepeater {
  0% {
    background: $fontColor_secondary;
  }
  50% {
    background: white;
  }
  100% {
    background: $fontColor_secondary;
  }
}






